@model ConnectionModel

@{
    ViewData["Title"] = "Set connection";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="btn-group btn-group-sm" role="group">
    <input type="submit" form="connectionForm" value="Connect" class="btn btn-outline-dark" />
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetConnection" id="connectionForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectionString" class="control-label"></label>
                <input asp-for="ConnectionString" class="form-control" />
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

